@import "_navbar";
@import "media-q.scss";

*{ 
    margin: 0;
    padding: 0;
   
}
body{
    font-family: 'Roboto Slab', serif;
}
h1{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.hero{
    width: 100%;
    .container-fluid--centerObjects{
        align-items: center;
        align-content: center;
        display: flex;
        justify-content: center;
       
    }
    &--img{
        width: 100%;
    }
    &--text {
        color: #ffff;
        
        font-size: 0.8rem;
        font-weight: 800;
    }
}
