@import "_navbar";
@import "media-q.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Slab", serif;
  background-image: linear-gradient(to left, #141e30, #243b55);
    background-size: cover;
}
h1 {
  color: red;
  font-family: "Courier New", Courier, monospace;
}
.hero {
  width: 100%;
 
  &-fluid {
    display: flex;
    width: 100%;
    
    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1em;
      z-index: 10;
      margin: 2em 0;
      &--text {
        margin: 5em 0 0;
        text-transform: uppercase;
        color: rgb(241, 179, 86);
        font-size: 1rem;
        font-weight: 800;
      }
      &--btnContainer {
        font-size: 0.6rem;
        margin: 2em 0;
        max-width: 60%;
        &--btn-class {
          border: none;
          padding: 1em;
          margin: 0.2em 0;
          border-radius: 6px;
          background: rgba(148, 141, 141, 0.789);
          color: rgb(255, 255, 254);
          &:hover {
            background-color: rgba(228, 220, 220, 0.789);
          }
          &--btn {
            padding: 2em;
            width: 35%;
            text-align: start;
          }
        }
      }
    }

    &--img {
      margin: 1em 0 9em 40%;
      width: 60%;
    }
  }
}
