@import "_navbar";
@import "media-q.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Slab", serif;
  background-image: linear-gradient(to left, #141e30, #243b55);
    background-size: cover;
}
h1 {
  color: red;
  font-family: "Courier New", Courier, monospace;
}
.hero {
  width: 100%;
  height: 100vh;
  &-fluid {
    display: flex;
    width: 100%;
    
    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1em;
      z-index: 10;
      margin: 1em 0;
      &--text {
        margin: 14em 0 0 0;
        text-transform: uppercase;
        color: rgb(241, 179, 86);
        font-size: 1.5rem;
        font-weight: 800;
      }
      &--btnContainer {
        margin-top: 1em;
        font-size: 0.6rem;
        max-width: 60%;
        &--btn-class {
          
          font-size: 0.7rem;
          padding: 1em 8em;
          border: none;
          border-radius: 6px;
          background: rgba(248, 248, 248, 0.789);
          color: rgb(255, 255, 254);

         
        }
        &--btn-classBuscar {
          border: none;
          font-size: 0.7rem;
          padding: 1em 9.20em;
          margin: 3em 0 1em;//posicion de los botones horizontalmente.
          border-radius: 6px;
          background: rgba(248, 248, 248, 0.789);
          color: rgb(255, 255, 254);

         
        }
      }
    
    }
    
    &--img {
      margin: 0.1em 0 11em 35%;
      width: 70%;
    }
    &--imgPerson{
      position: fixed;
      margin-left:70%;
      height: 100px; 
      width: 100px;
    }
   }
  }

